Repository designedhead/poly-lexis: changes, and which lefthook commands are due for each by the changed paths.
All: biome-format, biome-check, typescript

biome-format:
  run: npx biome format --write {staged_files}
  stage_fixed: true

biome-check:
  run: npx biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

typescript:
  run: npx tsc --noEmit

chore: restrict CI workflow to main branch
  .github/workflows/ci.yml
Due: none

fix: github publishing cicd
  .github/workflows/ci.yml
  .github/workflows/publish.yml
Due: none

minor: changeset release
  .changeset/floppy-dragons-join.md
Due: none

Minor: release changset
  .changeset/eager-ends-remain.md
  .changeset/floppy-dragons-join.md
  CHANGELOG.md
  package.json
Due: biome-format, biome-check

fix: update publish command
  .github/workflows/publish.yml
Due: none

minor: change release methodology
  .github/workflows/publish.yml
Due: none

fix: cicd pipeline
  .github/workflows/publish.yml
Due: none

fix: lock file
  lefthook.yml
  package-lock.json
Due: biome-format, biome-check

fix: update dependency installation method in CI
  .github/workflows/publish.yml
Due: none

minor: add repository url
  package.json
Due: biome-format, biome-check

fix: init file -> schema path
  CHANGELOG.md
  package.json
  src/translations/cli/init.ts
Due: biome-format, biome-check, typescript

feat: multi provider logic
  README.md
  src/cli/translations.ts
  src/translations/README.md
  src/translations/cli/auto-fill.ts
  src/translations/cli/init-interactive.ts
  src/translations/cli/init.ts
  src/translations/cli/manage.ts
  src/translations/core/types.ts
Due: biome-format, biome-check, typescript

feat: improved language folder/file generation
  src/translations/cli/auto-fill.ts
  src/translations/cli/generate-types.ts
  src/translations/cli/init.ts
  src/translations/cli/manage.ts
  src/translations/cli/validate.ts
  src/translations/core/schema.ts
  src/translations/utils/utils.ts
Due: biome-format, biome-check, typescript

feat: implement fallback languages
  src/translations/core/schema.ts
  src/translations/core/types.ts
  src/translations/utils/deepl-translate-provider.ts
  src/translations/utils/google-translate-provider.ts
  src/translations/utils/language-fallback.ts
Due: biome-format, biome-check, typescript

feat: allow useFallbackLanguage selection from schema
  src/translations/cli/auto-fill.ts
  src/translations/core/schema.ts
  src/translations/core/translations-config.schema.json
  src/translations/core/types.ts
  src/translations/utils/deepl-translate-provider.ts
  src/translations/utils/google-translate-provider.ts
  src/translations/utils/language-fallback.ts
  src/translations/utils/translator-interface.ts
  src/translations/utils/translator.ts
Due: biome-format, biome-check, typescript

minor Release: 0.4.0
  CHANGELOG.md
  package.json
Due: biome-format, biome-check

feat: change binary from lexis to poly-lexis
  CHANGELOG.md
  examples/README.md
  examples/custom-provider-template.ts
  package.json
  src/translations/README.md
Due: biome-format, biome-check, typescript

fix: Fix translations not checking provider setup
  CHANGELOG.md
  package.json
  src/translations/cli/add-key.ts
  src/translations/core/translations-config.schema.json
  src/translations/core/types.ts
Due: biome-format, biome-check, typescript

feat: generate types after creating new key
  CHANGELOG.md
  package.json
  src/translations/cli/add-key.ts
Due: biome-format, biome-check, typescript

feat: remove orhaned keys
  .changeset/afraid-lights-search.md
  jest.config.js
  package-lock.json
  package.json
  src/__tests__/orphaned-keys.test.ts
  src/scripts/verify-translations.ts
  src/translations/cli/manage.ts
  src/translations/cli/validate.ts
  src/translations/core/types.ts
  src/translations/utils/utils.ts
  tsconfig.json
Due: biome-format, biome-check, typescript

feat: find unused keys
  .changeset/afraid-lights-search.md
  CHANGELOG.md
  package.json
  src/__tests__/find-unused-keys.test.ts
  src/cli/translations.ts
  src/translations/cli/find-unused.ts
  src/translations/core/schema.ts
  src/translations/core/translations-config.schema.json
  src/translations/core/types.ts
  src/translations/index.ts
Due: biome-format, biome-check, typescript

feat: remove orphaned namespace
  CHANGELOG.md
  package.json
  src/__tests__/orphaned-keys.test.ts
  src/translations/cli/manage.ts
  src/translations/utils/utils.ts
Due: biome-format, biome-check, typescript

feat: improved concurrency
  CHANGELOG.md
  package.json
  src/cli/translations.ts
  src/translations/cli/auto-fill.ts
  src/translations/cli/manage.ts
Due: biome-format, biome-check, typescript

feat: allow {} params
  CHANGELOG.md
  package-lock.json
  package.json
  src/translations/utils/deepl-translate-provider.ts
  src/translations/utils/google-translate-provider.ts
Due: biome-format, biome-check, typescript

feat: allow nested translation structures
  CHANGELOG.md
  package.json
  src/__tests__/nested-translations.test.ts
  src/translations/utils/utils.ts
Due: biome-format, biome-check, typescript

feat: dedup keys
  .changeset/lazy-bushes-yawn.md
  src/__tests__/find-duplicates.test.ts
  src/cli/translations.ts
  src/translations/cli/find-duplicates.ts
  src/translations/core/types.ts
Due: biome-format, biome-check, typescript

minor: generate pluralised keys
  .changeset/dirty-games-yawn.md
  src/__tests__/plural-keys.test.ts
  src/translations/cli/generate-types.ts
Due: biome-format, biome-check, typescript

feat: Release 0.6.0
  package-lock.json
Due: biome-format, biome-check

Release 0.7.0
  package-lock.json
  package.json
Due: biome-format, biome-check

feat: auto generate language array
  CHANGELOG.md
  package.json
  src/translations/cli/generate-types.ts
Due: biome-format, biome-check, typescript

feat: add protectedTerms config option to preserve words from translation
  README.md
  package-lock.json
  src/__tests__/protected-terms.test.ts
  src/translations/cli/add-key.ts
  src/translations/cli/auto-fill.ts
  src/translations/core/types.ts
  src/translations/utils/deepl-translate-provider.ts
  src/translations/utils/google-translate-provider.ts
  src/translations/utils/translator-interface.ts
  src/translations/utils/translator.ts
Due: biome-format, biome-check, typescript

chore: improve translation key input validation
  src/cli/translations.ts
Due: biome-format, biome-check, typescript

release: Protected terms update
  .changeset/curly-pans-smell.md
Due: none

minor: bump package
  package.json
Due: biome-format, biome-check

minor: Update the config schema (adding protectedTerms)
  src/translations/core/translations-config.schema.json
Due: biome-format, biome-check

Release: 0.9.1
  CHANGELOG.md
  package.json
  src/translations/core/translations-config.schema.json
Due: biome-format, biome-check

Release 0.9.2
  CHANGELOG.md
  package.json
  src/translations/core/translations-config.schema.json
Due: biome-format, biome-check

Release 0.9.3 - Fix schema
  CHANGELOG.md
  package.json
  src/translations/core/schema.ts
Due: biome-format, biome-check, typescript

Path conditions:
  biome-format: any of: *.{js,ts,tsx,json}
  biome-check: any of: *.{js,ts,tsx,json}
  typescript: any of: *.{ts,tsx}
